# Global AI toggle
AI_ENABLED=true

# Google Gemini API Key
GEMINI_API_KEY=GEMINI_API_KEY
GEMINI_MODEL=model-name

# OpenRouter API Key
OPENROUTER_API_KEY=OPENROUTER_API_KEY
OPENROUTER_MODEL=model-name

# Logger settings
APP_LOG_LEVEL=INFO  # Options: DEBUG, INFO, WARNING, ERROR
AI_LOG_LEVEL=DEBUG  # Options: DEBUG, INFO, WARNING, ERROR

